CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake

x64Debug/
x64Release/
Win32Debug/
Win32Release/
Debug/
Release/

*.sln
*.vcxproj
*.tlog
*.sdf
*.opensdf
*.suo
*.filters
*.user
*.swp
*~
